<section class="equalheight-section">
    <div class="container">
        <div class="vendor-slider-block" appMatchHeight="same-height-title">
            <div class="inner-content-block">
                <div class="left-block">
                    <h3 class="same-height-title">Same height title 1 <span>Same height title span</span></h3>
                    <p>lorem ipsum djfksdhg dsghuug </p>
                </div>
                <div class="right-block">
                    <h3 class="same-height-title">Same height title 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nesciunt ullam aliquam vero delectus fuga quod nam nemo? Recusandae ea aperiam neque cum aliquam aut fugit sed placeat possimus velit?</p>
                </div>

            </div>
            <div class="inner-content-block">
                <div class="left-block">
                    <h3 class="same-height-title">Same height title 3 <span>Same height title span</span>
                        <span>Same height title span</span>
                    </h3>
                    <p>lorem ipsum djfksdhg dsghuug </p>
                </div>
                <div class="right-block">
                    <h3 class="same-height-title">Same height title 4</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nesciunt ullam aliquam vero delectus fuga quod nam nemo? Recusandae ea aperiam neque cum aliquam aut fugit sed placeat possimus velit?</p>
                </div>

            </div>
            <div class="inner-content-block">
                <div class="left-block">
                    <h3 class="same-height-title">Same height title 5 <span>Same height title span</span></h3>
                    <p>lorem ipsum djfksdhg dsghuug </p>
                </div>
                <div class="right-block">
                    <h3 class="same-height-title">Same height title 6</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nesciunt ullam aliquam vero delectus fuga quod nam nemo? Recusandae ea aperiam neque cum aliquam aut fugit sed placeat possimus velit?</p>
                </div>

            </div>
        </div>
    </div>
</section>